$small: "min-width: 767px";
$medium: "min-width: 992px";
$large: "min-width: 1200px";
$xl: "min-width: 1800px";

@mixin bp($point) {
  @if $point == small {
    @media ($small) {
      @content;
    }
  } @else if $point == medium {
    @media ($medium) {
      @content;
    }
  } @else if $point == large {
    @media ($large) {
      @content;
    }
  } @else if $point == xl {
    @media ($xl) {
      @content;
    }
  }
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

//GLOBAL
.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

//HEADER
.header-container {
  background-color: gold;
  padding: 15px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  .header-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 10% 0 10%;
  .brand {
    img {
      max-width: 85px;
      height: auto;
      border-radius: 50%;
    }
  }
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    li {
      padding: 0 0 0 20px;
      a{
        text-decoration: none;
        color: #003F87;
        font-weight: bold;
        transition: ease .2s;
        &:hover{
          color: #343434;
        }
      }
    }
  }
}
}

//HOME

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .home-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .image-wrapper {
      height: 100%;
      width: 100%;
      img{
        margin: 0;
        width: 100%;
        margin: -5% 0 0 0;
      }
    }
    .description {
      position: absolute;
      width: 400px;
      top: 250px;
      right: 10%;
      text-align: right;
      p{
        color: white;
      }
    }
  }

.info-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
  .info-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
    justify-content: center;
    margin: 0 10% 0 10%;
    .info-content-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .info-questions-wrap {
        width: 100%;
        overflow: scroll;
        .accordion {
          background-color: #7ec0ee;
          color: black;
          padding: 18px;
          width: 100%;
          text-align: left;
          border: none;
          outline: none;
          transition: 0.4s;
          &.active,
          &:hover {
            background-color: #ffd700;
            color: #343434;
          }
        }
        .accordion:after {
          content: "\02795"; /* Unicode character for "plus" sign (+) */
          font-size: 13px;
          color: #777;
          float: right;
          margin-left: 5px;
        }
        .active:after {
          content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
        .panel {
          padding: 0 18px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
            p{
              margin: 15px 0 15px 0;
            }
            button{
              display: inline-block;
              border: none;
              outline: none;
              border-radius: 10px;
              padding: .5rem 2rem;
              margin: 0 0 15px 0;
              text-decoration: none;
              background: gold;
              color: #003F87;
              font-family: sans-serif;
              font-size: 1rem;
              cursor: pointer;
              text-align: center;
              transition: ease .2s;
              &:hover{
                background: #7ec0ee;
                color: #ffffff;
              }

          }
        }
      }
    }
  }
}
}

//INFORMATION SECTION PAGES
.title {
  display: flex;
  justify-content: center;
}

.section-container {
  display: flex;
  .section-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 20px 0 40px;
    .info-content {
      height: 100%;
      width: 100%;
      align-items: center;
      .video-wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }
  .section-discussion-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 40px 0 20px;
    .discussion-content {
      height: 100%;
      width: 100%;
    }
  }
}

//DISCUSSION PAGE

.discussion-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .discussion-wrapper{
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .image-wrapper {
      height: 100%;
      width: 100%;
      img{
        margin: 0;
        width: 100%;
        margin: -15% 0 0 0;
      }
    }
  }
  .forum-wrapper{
    width: 100%;
    height: 100%;
    margin: 25px 0 25px 0;
    .bbpress-wrapper{
      margin: 0 10% 0 10%;
      .bbp-breadcrumb{
        display: none;
      }
      .bbp-search-form{
        display: none;
      }
      .bbp-forums{
        .bbp-header, .bbp-footer{
          background: #7ec0ee !important;
        }
        .bbp-body{
          ul{
            li{
              a{
                text-decoration: none;
                color: #003F87;
                font-weight: bold;
                transition: ease .2s !important;
                &:hover{
                  color:gold;
                }
              }
            }
          }
        }
      }
    }
  }
}

//SINGLE FORUM PAGE
#bbp-container{
  margin: 0 10% 0 10%;
  h1{
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
  }
  .entry-content{
    a{
      text-decoration: none;
      color: #003F87;
      font-weight: bold;
      transition: ease .2s !important;
      &:hover{
        color:gold;
      }
    }
    .quicktags-toolbar{
      background: #7ec0ee;
    }
    button{
      display: inline-block;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 1rem 2rem;
      margin: 0;
      text-decoration: none;
      background: #7ec0ee;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: ease .2s;
      &:hover{
        background: gold;
        color: #003F87;
      }
    }
  }
  .bbp-header, .bbp-footer{
    background: #7ec0ee !important;
  }
}

//SINGLE TOPIC PAGE
.page-container{
  margin: 0 10% 0 10%;
  h1{
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 15px 0;
  }
  .entry-content{
    a{
      text-decoration: none;
      color: #003F87;
      font-weight: bold;
      transition: ease .2s !important;
      &:hover{
        color:gold;
      }
    }
    .quicktags-toolbar{
      background: #7ec0ee;
    }
    button{
      display: inline-block;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 1rem 2rem;
      margin: 0;
      text-decoration: none;
      background: #7ec0ee;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: ease .2s;
      &:hover{
        background: gold;
        color: #003F87;
      }
    }
    .bbp-reply-content{
      margin: 0 0 0 20% !important;
    }
  }
  .bbp-header, .bbp-footer{
    background: #7ec0ee !important;
  }
  .bbp-author-name{
    display: flex !important;
  }

}
