.main {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.header-container {
  background-color: gold;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
  .header-container .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10% 0 10%; }
    .header-container .header-wrapper .brand img {
      max-width: 85px;
      height: auto;
      border-radius: 50%; }
    .header-container .header-wrapper .nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header-container .header-wrapper .nav li {
        padding: 0 0 0 20px; }
        .header-container .header-wrapper .nav li a {
          text-decoration: none;
          color: #003F87;
          font-weight: bold;
          -webkit-transition: ease .2s;
          -o-transition: ease .2s;
          transition: ease .2s; }
          .header-container .header-wrapper .nav li a:hover {
            color: #343434; }

.home-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .home-container .home-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .home-container .home-wrapper .image-wrapper {
      height: 100%;
      width: 100%; }
      .home-container .home-wrapper .image-wrapper img {
        margin: 0;
        width: 100%;
        margin: -5% 0 0 0; }
    .home-container .home-wrapper .description {
      position: absolute;
      width: 400px;
      top: 250px;
      right: 10%;
      text-align: right; }
      .home-container .home-wrapper .description p {
        color: white; }
  .home-container .info-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0 25px 0; }
    .home-container .info-container .info-wrapper {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 10% 0 10%; }
      .home-container .info-container .info-wrapper .info-content-wrapper {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap {
          width: 100%;
          overflow: scroll; }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion {
            background-color: #7ec0ee;
            color: black;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s; }
            .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion.active, .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion:hover {
              background-color: #ffd700;
              color: #343434; }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion:after {
            content: "\2795";
            /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #777;
            float: right;
            margin-left: 5px; }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .active:after {
            content: "\2796";
            /* Unicode character for "minus" sign (-) */ }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            -webkit-transition: max-height 0.2s ease-out;
            -o-transition: max-height 0.2s ease-out;
            transition: max-height 0.2s ease-out; }
            .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel p {
              margin: 15px 0 15px 0; }
            .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel button {
              display: inline-block;
              border: none;
              outline: none;
              border-radius: 10px;
              padding: .5rem 2rem;
              margin: 0 0 15px 0;
              text-decoration: none;
              background: gold;
              color: #003F87;
              font-family: sans-serif;
              font-size: 1rem;
              cursor: pointer;
              text-align: center;
              -webkit-transition: ease .2s;
              -o-transition: ease .2s;
              transition: ease .2s; }
              .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel button:hover {
                background: #7ec0ee;
                color: #ffffff; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .section-container .section-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin: 0 20px 0 40px; }
    .section-container .section-info-wrapper .info-content {
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .section-container .section-info-wrapper .info-content .video-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
  .section-container .section-discussion-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin: 0 40px 0 20px; }
    .section-container .section-discussion-wrapper .discussion-content {
      height: 100%;
      width: 100%; }

.discussion-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .discussion-container .discussion-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .discussion-container .discussion-wrapper .image-wrapper {
      height: 100%;
      width: 100%; }
      .discussion-container .discussion-wrapper .image-wrapper img {
        margin: 0;
        width: 100%;
        margin: -15% 0 0 0; }
  .discussion-container .forum-wrapper {
    width: 100%;
    height: 100%;
    margin: 25px 0 25px 0; }
    .discussion-container .forum-wrapper .bbpress-wrapper {
      margin: 0 10% 0 10%; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-breadcrumb {
        display: none; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-search-form {
        display: none; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-header, .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-footer {
        background: #7ec0ee !important; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-body ul li a {
        text-decoration: none;
        color: #003F87;
        font-weight: bold;
        -webkit-transition: ease .2s !important;
        -o-transition: ease .2s !important;
        transition: ease .2s !important; }
        .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-body ul li a:hover {
          color: gold; }

#bbp-container {
  margin: 0 10% 0 10%; }
  #bbp-container h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 15px 0 15px 0; }
  #bbp-container .entry-content a {
    text-decoration: none;
    color: #003F87;
    font-weight: bold;
    -webkit-transition: ease .2s !important;
    -o-transition: ease .2s !important;
    transition: ease .2s !important; }
    #bbp-container .entry-content a:hover {
      color: gold; }
  #bbp-container .entry-content .quicktags-toolbar {
    background: #7ec0ee; }
  #bbp-container .entry-content button {
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #7ec0ee;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-transition: ease .2s;
    -o-transition: ease .2s;
    transition: ease .2s; }
    #bbp-container .entry-content button:hover {
      background: gold;
      color: #003F87; }
  #bbp-container .bbp-header, #bbp-container .bbp-footer {
    background: #7ec0ee !important; }

.page-container {
  margin: 0 10% 0 10%; }
  .page-container h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 15px 0 15px 0; }
  .page-container .entry-content a {
    text-decoration: none;
    color: #003F87;
    font-weight: bold;
    -webkit-transition: ease .2s !important;
    -o-transition: ease .2s !important;
    transition: ease .2s !important; }
    .page-container .entry-content a:hover {
      color: gold; }
  .page-container .entry-content .quicktags-toolbar {
    background: #7ec0ee; }
  .page-container .entry-content button {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #7ec0ee;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-transition: ease .2s;
    -o-transition: ease .2s;
    transition: ease .2s; }
    .page-container .entry-content button:hover {
      background: gold;
      color: #003F87; }
  .page-container .entry-content .bbp-reply-content {
    margin: 0 0 0 20% !important; }
  .page-container .bbp-header, .page-container .bbp-footer {
    background: #7ec0ee !important; }
  .page-container .bbp-author-name {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }

.main {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.header-container {
  background-color: gold;
  padding: 15px;
  display: flex;
  box-sizing: border-box;
  width: 100%; }
  .header-container .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 10% 0 10%; }
    .header-container .header-wrapper .brand img {
      max-width: 85px;
      height: auto;
      border-radius: 50%; }
    .header-container .header-wrapper .nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex; }
      .header-container .header-wrapper .nav li {
        padding: 0 0 0 20px; }
        .header-container .header-wrapper .nav li a {
          text-decoration: none;
          color: #003F87;
          font-weight: bold;
          transition: ease .2s; }
          .header-container .header-wrapper .nav li a:hover {
            color: #343434; }

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .home-container .home-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column; }
    .home-container .home-wrapper .image-wrapper {
      height: 100%;
      width: 100%; }
      .home-container .home-wrapper .image-wrapper img {
        margin: 0;
        width: 100%;
        margin: -5% 0 0 0; }
    .home-container .home-wrapper .description {
      position: absolute;
      width: 400px;
      top: 250px;
      right: 10%;
      text-align: right; }
      .home-container .home-wrapper .description p {
        color: white; }
  .home-container .info-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0 25px 0; }
    .home-container .info-container .info-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex: 1;
      margin: 0;
      justify-content: center;
      margin: 0 10% 0 10%; }
      .home-container .info-container .info-wrapper .info-content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap {
          width: 100%;
          overflow: scroll; }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion {
            background-color: #7ec0ee;
            color: black;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s; }
            .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion.active, .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion:hover {
              background-color: #ffd700;
              color: #343434; }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .accordion:after {
            content: "\2795";
            /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #777;
            float: right;
            margin-left: 5px; }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .active:after {
            content: "\2796";
            /* Unicode character for "minus" sign (-) */ }
          .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out; }
            .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel p {
              margin: 15px 0 15px 0; }
            .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel button {
              display: inline-block;
              border: none;
              outline: none;
              border-radius: 10px;
              padding: .5rem 2rem;
              margin: 0 0 15px 0;
              text-decoration: none;
              background: gold;
              color: #003F87;
              font-family: sans-serif;
              font-size: 1rem;
              cursor: pointer;
              text-align: center;
              transition: ease .2s; }
              .home-container .info-container .info-wrapper .info-content-wrapper .info-questions-wrap .panel button:hover {
                background: #7ec0ee;
                color: #ffffff; }

.title {
  display: flex;
  justify-content: center; }

.section-container {
  display: flex; }
  .section-container .section-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 20px 0 40px; }
    .section-container .section-info-wrapper .info-content {
      height: 100%;
      width: 100%;
      align-items: center; }
      .section-container .section-info-wrapper .info-content .video-wrapper {
        display: flex;
        justify-content: center; }
  .section-container .section-discussion-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 40px 0 20px; }
    .section-container .section-discussion-wrapper .discussion-content {
      height: 100%;
      width: 100%; }

.discussion-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .discussion-container .discussion-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column; }
    .discussion-container .discussion-wrapper .image-wrapper {
      height: 100%;
      width: 100%; }
      .discussion-container .discussion-wrapper .image-wrapper img {
        margin: 0;
        width: 100%;
        margin: -15% 0 0 0; }
  .discussion-container .forum-wrapper {
    width: 100%;
    height: 100%;
    margin: 25px 0 25px 0; }
    .discussion-container .forum-wrapper .bbpress-wrapper {
      margin: 0 10% 0 10%; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-breadcrumb {
        display: none; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-search-form {
        display: none; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-header, .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-footer {
        background: #7ec0ee !important; }
      .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-body ul li a {
        text-decoration: none;
        color: #003F87;
        font-weight: bold;
        transition: ease .2s !important; }
        .discussion-container .forum-wrapper .bbpress-wrapper .bbp-forums .bbp-body ul li a:hover {
          color: gold; }

#bbp-container {
  margin: 0 10% 0 10%; }
  #bbp-container h1 {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0; }
  #bbp-container .entry-content a {
    text-decoration: none;
    color: #003F87;
    font-weight: bold;
    transition: ease .2s !important; }
    #bbp-container .entry-content a:hover {
      color: gold; }
  #bbp-container .entry-content .quicktags-toolbar {
    background: #7ec0ee; }
  #bbp-container .entry-content button {
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #7ec0ee;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: ease .2s; }
    #bbp-container .entry-content button:hover {
      background: gold;
      color: #003F87; }
  #bbp-container .bbp-header, #bbp-container .bbp-footer {
    background: #7ec0ee !important; }

.page-container {
  margin: 0 10% 0 10%; }
  .page-container h1 {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 15px 0; }
  .page-container .entry-content a {
    text-decoration: none;
    color: #003F87;
    font-weight: bold;
    transition: ease .2s !important; }
    .page-container .entry-content a:hover {
      color: gold; }
  .page-container .entry-content .quicktags-toolbar {
    background: #7ec0ee; }
  .page-container .entry-content button {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #7ec0ee;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: ease .2s; }
    .page-container .entry-content button:hover {
      background: gold;
      color: #003F87; }
  .page-container .entry-content .bbp-reply-content {
    margin: 0 0 0 20% !important; }
  .page-container .bbp-header, .page-container .bbp-footer {
    background: #7ec0ee !important; }
  .page-container .bbp-author-name {
    display: flex !important; }

body,
html {
  margin: 0;
  overflow-x: hidden; }

img {
  max-width: 100%;
  margin: 0 auto; }

header#primary-nav .inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90vw;
  margin: 0 auto; }
  header#primary-nav .inner-wrap .logo-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  header#primary-nav .inner-wrap .links-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    header#primary-nav .inner-wrap .links-wrap nav {
      text-align: right; }
      header#primary-nav .inner-wrap .links-wrap nav a {
        font-size: 14px; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--slider .hamburger-inner {
  top: 2px; }

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s; }

.hamburger--slider .hamburger-inner::after {
  top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0; }

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg); }
